
# Elasticsearch
ELASTICSEARCH_HOST=http://host.docker.internal:9200 # host.docker.internal for localhost testing, otherwise the DB host IP

# Root user for elasticsearch is elastic, root password can be changed
ELASTICSEARCH_ROOTUSER=elastic # do not change
ELASTICSEARCH_ROOTPASSWORD=elastic_Password123!

# Mandatory system user for kibana, fully internal, that should never be used for API nor UI requests
KIBANA_ROOTUSER=kibana_system # do not change
KIBANA_ROOTPASSWORD=kibana_Password123!

# The prod user to use in the app. Will have limited permissions for prod usage
ELASTICSEARCH_USER=user
ELASTICSEARCH_PASSWORD=password


# Opensearch
OPENSEARCH_HOST=https://host.docker.internal:9200 # host.docker.internal for localhost testing, otherwise the DB host IP

# Default root user for opensearch is admin, root password can be changed
OPENSEARCH_ROOTUSER=admin # will edit internal_user.yml to remove demo credentials
OPENSEARCH_ROOTPASSWORD=admin_Password123!

DASHBOARDS_ROOTUSER=kibanaserver # do not change 
DASHBOARDS_ROOTPASSWORD=kibanaserver_Password123! # will edit internal_user.yml to remove demo credentials

# The prod user to use in the app. Will have limited permissions for prod usage
OPENSEARCH_USER=user
OPENSEARCH_PASSWORD=user_Password123! # strong password needed for OS

